* {
  box-sizing: border-box;
}

html, body, #app {
  height: 100%;
}

body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  font-smoothing: antialiased;
}

a, a:visited {
  text-decoration: none;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

input, textarea, select {
  width: 100%;
  border: 1px solid rgba(0,0,0, .25);
  padding: 10px;
  border: 1px solid #C5C5C5;
  width: 100%;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 3px;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
  -webkit-transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
  transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

input:focus, textarea:focus, select:focus {
  border-color: #66afe9;
  outline: 0;
  box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(102,175,233,.6);
}

.alert:empty { display: none; }

.ps-scrollbar {
  position: relative;
}

.button {
  background-color: #9e9ea6;
  padding: 10px 15px;
  color: #fff;
  font-weight: 900;
  text-decoration: none;
  cursor: pointer;
  text-shadow: 0 1px 1px rgba(0,0,0,.1);
  border: none;
  border-radius: .25rem;
  box-shadow: none;
  display: inline-block;
  vertical-align: bottom;
  text-align: center;
  white-space: nowrap;
  margin: 0;
}

.button--primary {
  background-color: #428bca;
}

.form__group {
  margin-bottom: 15px;
}

.grid {
  display: flex;
  height: 100%;
}

.sidebar {
  flex: 1;
  padding: 15px;
  border-right: 1px solid #e8e8e8;
}
.user {
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
  margin: -15px -15px 15px -15px;
  padding: 15px;
}

.content {
  flex: 5;
  display: flex;
  flex-direction: column;
}
.content__header {
  padding: 15px;
  height: 60px;
  border-bottom: 1px solid #e8e8e8;
}

.content__header h3 {
  margin: 0;
}