html, body {
    height: 100%;
    overflow: hidden;
}

/* flash messages */
.alert:empty { display: none; }


/* PS styles */
.ps-scrollbar {
    position: relative;
}

#app,
.container-fluid, 
.container-fluid > .row, 
.message-list,
.main {
    height: 100%;
}

.message-list {
    height: 85%;
}
