.message {
}

.message__user {
  color: #000;
  font-weight: bold;
  font-style: italic;
  display: inline-block;
}

.message__ts {
  color: #999;
  margin-left: 5px;
  font-size: 12px;
  display: inline-block;
}

.message__text {
  display: block;
}
