* {
    box-sizing: border-box;
}

/* Hide for mobile, show later */
.sidebar {
    display: none;
}

/* Main content */
.main {
    padding: 15px;
    position: relative;
}

@media (min-width: 768px) {
    .main {}
    .sidebar {
        position: fixed;
        top: 0;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
        background-color: #fff;
        border-right: 1px solid #eee;
    }
}
