.channel-link { 
	padding: 3px 5px; 
}
.channel-link__name {
	padding: 3px 5px;
}
.channel-link.active > a,
.channel-link.active > a:hover,
.channel-link.active > a:focus {
    color: #fff;
    background-color: #428bca;
}